@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(0, 0, 0);
  background: rgb(44, 85, 138);
  background: linear-gradient(
    180deg,
    rgba(44, 85, 138, 1) 0%,
    rgba(66, 137, 177, 1) 28%,
    rgba(72, 155, 207, 1) 68%,
    rgba(141, 193, 226, 1) 92%
  );
}
